.timeline {
  width: 100%;
  margin: 70px 30px;
}

.timeline > h2 {
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 20px;
  color: var(--jea-color-primary);
  text-shadow: 0px 0px 20px #000000;
}

.timeline h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--jea-color-secondary);
}

.timeline .timeline-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.expanded-text {
  font-size: 0.8rem;
  text-align: justify;
}
