@font-face {
  font-family: "Gilroy-Bold";
  font-weight: 700;
  src: url("/fonts/Gilroy-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Medium";
  font-weight: 500;
  src: url("/fonts/Gilroy-Medium.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
  font-family: "Gilroy-Medium", sans-serif;
  font-weight: 400;
  color: var(--jea-color-font);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gilroy-Bold", sans-serif;
}

:root {
  /* COLORS */
  --jea-color-white: white;
  --jea-color-black: black;
  --jea-color-primary: #ffcb03;
  --jea-color-secondary: #094068;
  --jea-color-tertiary: #fff1bd;
  --jea-color-cuaternary: #041d2f;

  /* FONT SIZES */
  --jea-font-xl: 36px;
  --jea-font-l: 20px;
  --jea-font-m: 16px;
  --jea-font-s: 12px;
  --jea-font-xs: 10px;

  /* SPACINGS */

  /* RADIUS */
  --jea-radius-primary: 20px;
  --jea-radius-secundary: 10px;
  --jea-radius-buttons: 5px;

  /* PADDING */
  --jea-padding-xs: 5px;
  --jea-padding-s: 10px;
  --jea-padding-m: 20px;
  --jea-padding-l: 30px;
  --jea-padding-xl: 40px;

  /* MARGIN */
  --jea-margin-xs: 5px;
  --jea-margin-s: 10px;
  --jea-margin-m: 20px;
  --jea-margin-l: 30px;
  --jea-margin-xl: 40px;

  /* GAP */
  --jea-gap-s: 5px;
  --jea-gap-m: 10px;
  --jea-gap-l: 15px;
  --jea-gap-xl: 25px;
}

/*! @media (max-width: 750px) { */

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 750px) {
  .container {
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 5px;
  }
}
